<!-- start header -->
<header class="site-header">
  <h1 class="post-title">
    <h1 class="pageTitle">{{ page.title }}</h1>
    <h3 class="meta">{{ page.author | default: site.author }}</h3>
    <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:120 | ceil }}</span> Minute Read | {{ page.tag | capitalize }}</p>
    {% if page.image %}
      <div class="featuredImage">
          <img src="{{ page.image.url }}" alt="{{ page.image.alt }}" />
        </div>
    {% endif %}
  <h1>
</header>
<!-- end header -->
