<meta property="fb:app_id" content="{{ site.data.analytics.facebookAppID }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
<meta property="og:description" content="{{ page.meta }}" />
{% if page.image %}
<meta property="og:image" content="{{ '/assets/img' | prepend: site.baseurl | append: page.image }}" />
{% endif %}

<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"Person",
  "email": "mailto:kyle@kyleniewiada.org",
  "image": "{{ '/assets/img' | prepend: site.baseurl | append: page.image }}",
  "name": "Kyle Niewiada",
  "url": "https://www.kyleniewiada.org/",
  "sameAs" : [
  "https://www.facebook.com/KyleNiewiada",
  "https://twitter.com/CrypticCitrus",
  "https://www.youtube.com/KyleNiewiada",
  "https://plus.google.com/u/0/+KyleNiewiada",
  "https://kyleniewiada.bandcamp.com",
  "https://github.com/aav7fl/",
  "https://www.linkedin.com/in/kyleniewiada"
  ]
}
</script>
