---
layout: default
title: Recent Posts
meta: "Kyle Niewiada's personal website. I blog about my most interesting projects and useful scripts that I have worked on. I try my best to open-source everything."
regenerate: true
redirect_from:
  - "/blog/"
  - "/blog/page/1/"
---

<div class="home" id="home">
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <div class="titlemeta"><span class="meta-left">{{ post.date | date: '%B %d, %Y' }}</span><span class="meta-right">{{ post.tag | capitalize}}</span></div>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="description">{{ post.content | strip_html | strip_newlines | truncate: 250 }}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
