---
layout: default
title: Recent Posts
meta: "Kyle Niewiada's personal website where he documents and explains his projects about programming and music. Related source code is open sourced."
tabTitle: Kyle Niewiada
---
<div class="home" id="home">
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <div style="overflow: auto;"><span class="meta">{{ post.date | date: '%B %d, %Y' }} | {{ post.author }} </span><span class="tag">{{ post.tag | capitalize}}</span></div>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
