<div class="coalate">
  <table>
    {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

      {% if year != nyear %}
        <tr><th colspan="3">{{ post.date | date: '%Y' }}</th></tr>
      {% endif %}

      <tr>
        <td nowrap>{{ post.date | date: '%b %d' }}</td>
        <td><a href="{{ post.url }}">{{ post.title }}</a></td>
        <td>{{post.tag | default: 'Other' | capitalize | truncatewords: 1, ""}}</td>
      </tr>
    {% endfor %}
  </table>
</div>
