<div class="coalate">
  {% assign headerTags = "large projects,medium projects,small projects,guides,updates" | split: ',' %}

  {% for tag in headerTags %}
    <h2>{{ tag | capitalize}}</h2>
      {% for post in site.posts %}
        {% assign sanitizedPostTag = {{post.tag | upcase}} %}
        {% assign sanitizedHeaderTag = {{tag | upcase}} %}
        {% if post.tag != null and sanitizedHeaderTag contains sanitizedPostTag %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          <li><time>{{ post.date | date:"%d %b, %Y " }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
  {% endfor %}
</div>
