{% assign footer_links = "" | split: "|" %}

{% if site.social.facebook %}
  {% capture link %}<a href="https://www.facebook.com/{{ site.social.facebook }}">Facebook</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.social.github %}
  {% capture link %}<a href='https://github.com/{{ site.social.github }}'>GitHub</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.social.twitter %}
  {% capture link %}<a href="https://twitter.com/{{ site.social.twitter }}">Twitter</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.social.youtube %}
  {% capture link %}<a href="https://www.youtube.com/user/{{ site.social.youtube }}">YouTube</a>{% endcapture %}
  {% assign footer_links = footer_links | push: link %}
{% endif %}

{% if site.social.bandcamp %}
  {% capture link %}<a href="{{ site.social.bandcamp }}">BandCamp</a>{% endcapture %}
  {% assign footer_links = footer_links | push: link %}
{% endif %}

<span> | </span>

{% for item in footer_links %}
  {{ item }}
  <span> | </span>
{% endfor %}
