{% assign footer_links = "" | split: "|" %}

{% if site.data.social.linkedin %}
  {% capture link %}<a href='https://www.linkedin.com/in/{{ site.data.social.linkedin }}'>LinkedIn</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.data.social.github %}
  {% capture link %}<a href='https://github.com/{{ site.data.social.github }}'>GitHub</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.data.social.twitter %}
  {% capture link %}<a href="https://twitter.com/{{ site.data.social.twitter }}">Twitter</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.data.social.youtube %}
  {% capture link %}<a href="https://www.youtube.com/user/{{ site.data.social.youtube }}">YouTube</a>{% endcapture %}
  {% assign footer_links = footer_links | push: link %}
{% endif %}

{% if site.data.social.facebook %}
  {% capture link %}<a href="https://www.facebook.com/{{ site.data.social.facebook }}">Facebook</a>{% endcapture %}
  {% assign footer_links = footer_links | push:{{link}} %}
{% endif %}

{% if site.data.social.bandcamp %}
  {% capture link %}<a href='{{ site.data.social.bandcamp }}' rel='nofollow'>BandCamp</a>{% endcapture %}
  {% assign footer_links = footer_links | push: link %}
{% endif %}

<span> | </span>

{% for item in footer_links %}
  {{ item }}
  <span> | </span>
{% endfor %}
