<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.meta %}
    <meta name="description" content="{{ page.meta}}" />
    {% endif %}
    <title>
      {% if paginator and paginator.page > 1 %}
        {% assign overwriteTitle = page.title | append: ' | Page ' | append: paginator.page %}
        {{ overwriteTitle }}
      {% else %}
        {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
      {% endif %}
    </title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" />

    <!-- Come and get me RSS readers -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Stylesheet -->
    <style type="text/css">
      {% capture include_to_scssify %}
        {% include critical.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
    </style>

    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->
    <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <!-- Modernizr -->
    <!--<script src="{{ "/assets/js/modernizr.custom.15390.js" | prepend: site.baseurl }}" type="text/javascript"></script>-->

    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>
