<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ site.data.colors.primary-color }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ site.data.colors.primary-color }}">

    <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" sizes="192x192" href="{{ "/icon-hires.png" | prepend: site.baseurl }}" >
    <link rel="icon" sizes="128x128" href="{{ "/icon.png" | prepend: site.baseurl }}" >
    {% if page.layout == 'post' %}
      {% unless page.skip_amp %}
        <link rel="amphtml" href="{{ page.url | prepend: site.ampdir | prepend: site.url }}">
      {% endunless %}
    {% endif %}

    <!-- Messy way to capture custom page title to replace SEO Tags -->
    {% capture page_title %}
      {% if page.title %}
        {% if paginator and paginator.page > 1 %}
          {{ page.title | append: ' - Page ' | append: paginator.page | append: ' | ' | append: site.author }}
        {% elsif page.layout != 'post' %}
          {{ page.title | append: ' | ' | append: site.author }}
        {% else %}
          {{ page.title }}
        {% endif %}
      {% else %}
        {{ site.name }}
      {% endif %}
    {% endcapture %}
    {% assign page_title = page_title | strip %}
    <title>{{ page_title }}</title>
    <meta property="og:title" content="{{ page_title }}" />

    <!-- Come and get me RSS readers -->
    {% feed_meta %}

    <!-- Critical Stylesheet -->
    <style type="text/css">
      {% capture include_to_scssify %}
        {% include child/critical.scss %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}
      {% if page.style %}
        {% capture include_to_scssify %}
          {% include extra/{{page.style}} %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
      {% endif %}
    </style>

    {% include amp-check.html src="SEO" %}

    {% if site.data.analytics.google_analytics %} {% include child/google_analytics.html %} {% endif %}
</head>
