<!-- start header -->
<div class="header">
  <div class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="/">{{ site.author.name }}</a>
      </div>
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!"><span></span></a>
          </div>
          <ul class="nav-list">
            {% for menuitem in site.data.navigation %}
                {% if menuitem.url == page.url %}
                    {% assign class = "active" %}
                {% else %}
                    {% assign class = "normal" %}
                {% endif %}
                <li class="{{ class }}"><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
  </div>
</div><!-- end header -->
