<!-- POST NAVIGATION -->
<div class="post-nav">
  {% if page.previous.url %}
    <a class="post-nav-link" href="{{ page.previous.url | prepend: site.baseurl }}">
    <div class="link-text previous">&laquo;&nbsp;{{ page.previous.title }}</div>
    {% if page.previous.image %}
      <img class="link-image" src="{{ page.previous.image.path | prepend: site.baseurl }}" alt="Previous Article">
    {% endif %}
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="post-nav-link" href="{{ page.next.url | prepend: site.baseurl }}">
    <div class="link-text next">{{ page.next.title }}&nbsp;&raquo;</div>
    {% if page.next.image %}
      <img class="link-image" src="{{ page.next.image.path | prepend: site.baseurl }}" alt="Next Article">
    {% endif %}
    </a>
  {% endif %}
</div>
