/***************
GLOBAL Extra
***************/
.line-separator {
	height:1px;
	background:$gray;
	margin-top: $padding;
	margin-bottom: $padding;
}

.container:after {
    content: " ";
    display: block;
    clear: both;
}

.post, .container{
	max-width: $content-width;
	margin-right: auto;
	margin-left: auto;
	padding: 0 $padding;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: $breakpoint){
		padding: 0;
	}

}

/***************
GLOBAL STYLE
***************/
// A better box-sizing practice http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }
//
// body {
// 	font-family: $serif;
// 	line-height: 1.75;
// 	font-size: 112.5%; // 18px base font size
// 	color: $black;
// 	overflow-x: hidden;
//
	p , ul {
		margin: 0 0 1.5rem;
	}
// }

// Text Selection Styling
::-moz-selection {
	background: $primary-color;
	color: white;
}

::selection {
	background: $primary-color;
	color: white;
}

// Media Styling
img,video,audio,iframe,object{
	max-width:100%;
}

// @media (min-width: 800px){
// 	.container {
// 		//@include container(800px);
// 		width: 800px;
// 		margin-right: auto;
// 		margin-left: auto;
// 		padding: 0;
// 	}
// }

/***************
LINK STYLING
***************/

a {
	color: $link-color;

	&:hover {
		color: darken($link-color, 15%);
	}
}

/***************
LIST STYLING
***************/

.noList {
	list-style:none;
	padding-left:0;
	margin-left:0;
}
//
// dt {
// 	font-weight: bold;
// }
//
// dd {
// 	margin: 0 0 1.5rem;
// }
//
// .post ul ul,
// .post ul ol,
// .post ol ul,
// .post ol ol {
//   margin: 0;
// }


/***************
PAGINATION STYLING
***************/
.pagination {
	.next {
		float: left;
	}
	.previous {
		float: right;
	}
}

/***************
POST LIST STYLING
***************/
.posts {

	li {
		margin-bottom: 4rem;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: -2rem;
			left: 0;
			background: darken(white, 10%);
			height: 2px;
			width: 60px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			color: $gray;
			font-family: $sans-serif;
			font-weight: 300;
			font-size: .8em;
		}
	}
}

/***************
CONTACT PAGE STYLING
***************/
// @media (min-width: 800px){
// 	#contact {
// 		form {
// 			//@include span(6 of 12);
// 			width: 100%;
// 			float: left;
// 		}
// 	}
// }
