body {
	margin: 0;
}

body, p, li, ul, input, textarea {
  font-size: 1em;
  line-height: 1.58;
	color: $black;
	font-family: $sans-serif;
}

img,video,audio,iframe,object {
	max-width:100%;
}

/***************
GLOBAL Extra
***************/
.line-separator {
	height: 0.1em;
	background: $light-grey;
	margin-top: $padding;
	margin-bottom: $padding;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.content{
	max-width: $content-width;
	margin-right: auto;
	margin-left: auto;
	padding: 0 $padding;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/***************
LIST STYLING
***************/
.no-list {
	list-style:none;
	padding-left:0;
	margin-left:0;
}

.left {
	float: left;
}
.right {
	float: right;
}

/***************
POST LIST STYLING
***************/
.post-list {
	li {
		margin-bottom: 4em;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: -2em;
			left: 0;
			background: darken(white, 10%);
			height: 2px;
			width: 60px;
		}

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			color: $dim-grey;
			font-size: .8em;
		}
	}
}
