/***************
GLOBAL Extra
***************/
.line-separator {
	height:1px;
	background:$gray;
	margin-top: $padding;
	margin-bottom: $padding;
}

.container:after {
    content: " ";
    display: block;
    clear: both;
}

.post, .container{
	max-width: $content-width;
	margin-right: auto;
	margin-left: auto;
	padding: 0 $padding;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


/***************
MEDIA STYLING
***************/
img,video,audio,iframe,object,amp-video{
	max-width:100%;
}

/***************
LIST STYLING
***************/
.noList {
	list-style:none;
	padding-left:0;
	margin-left:0;
}

/***************
PAGINATION STYLING
***************/
.pagination {
	.next {
		float: left;
	}
	.previous {
		float: right;
	}
}

/***************
POST LIST STYLING
***************/
.posts {
	li {
		margin-bottom: 4rem;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			bottom: -2rem;
			left: 0;
			background: darken(white, 10%);
			height: 2px;
			width: 60px;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.date {
			color: $gray;
			font-family: $sans-serif;
			font-weight: 300;
			font-size: .8em;
		}
	}
}
