/***************
COLOR VARIABLES
***************/
$white: #ffffff;
$white-smoke: #f5f5f5;
$light-grey: #d3d3d3;
$dim-grey: #696969;
$dark-grey: #3a3a3a;
$darker-grey: #262626;
$darker-grey-transparent: rgba(38,38,38,0);
$black: #111111;
$red:   #FF4136;
$maroon: #9e023b;
$cyan:  #00b2d9;
$light-gold: #ffffaa;
$dark-gold: #ddcc00;
$blue:  #0b5394;
// $orange:  #FF851B;
// $green: #2ECC40;


$resume-accent: $blue;

$primary-color: #3d256d;
$link-color: $primary-color;
$bad-color: $red; // Bad color for errors, validation etc.

/***************
PAGE WIDTH AND MEDIA SETTINGS
***************/
$breakpoint-0: 330px;
$breakpoint-1: 400px;
$breakpoint-2: 600px;
$breakpoint-3: 1000px;

$content-width: 700px;

/***************
CONSISTENT SETTINGS
***************/
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 16px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/
$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
// $serif: "PT Serif", Georgia, Times, serif;

/***************
BLOG SETTINGS
***************/
$inline-code: $maroon;
$code-background: $white-smoke;

$blockquote-color: $light-gold;
$blockquote-border-color: $dark-gold;

$post-nav-link-height: 6em;

/***************
NAVIGATION AND CONTENT
***************/
$navigation-width: 1000px; // Max width for Navigation
$nav-height: 70px;

$nav-background: $darker-grey;
$nav-background-light: $dark-grey;
$nav-background-transparent: $darker-grey-transparent;

$menu-button: $dark-grey;
$nav-font-color: $white;

$nav-active: $primary-color;
$link-hover-color: $cyan;
