/***************
COLOR VARIABLES
***************/

// Better default colors
// Cool
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #808080;
$banner-grey: #3a3a3a;
$black:  #111;

// Color variables
$primary-color: #3d256d;
$secondary-color: #1b3665;
$tertiary-color: #33446f;
$link-color: $primary-color;
$resume-accent: #0b5394;
$subtle-gray: #d3d3d3;

$bad-color: $red; // Bad color for errors, validation etc.
$good-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: #696969; // Subtle color for subtle text

/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 16px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/

//$sans-serif: Geneva, Tahoma, Verdana, sans-serif;
$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
//$serif: Georgia, Times, Times New Roman, serif;
$serif: "PT Serif", Georgia, Times, serif;

/***************
NAVIGATION AND CONTENT
***************/
$navigation-width: 1000px;
$breakpoint-0: 330px;
$breakpoint-1: 400px;
$breakpoint-2: 600px;
$breakpoint-3: 1000px;
$nav-height: 70px;
$nav-background: #262626;
$nav-background-transparent: rgba(33,33,33,0);
$nav-background-light: #535353;
$menu-button: $banner-grey;
$nav-font-color: #ffffff;
$link-hover-color: #00b2d9;
$nav-active: $primary-color;

$content-width: 700px;

$inline-code: #9e023b;
$post-nav-link-height: 6em;

$blockquote-color: #ffa;
$blockquote-border-color: #dc0;

$code-background: #f5f5f5;
