/***************
FOOTER STYLING
***************/
footer {
	padding: $padding 0;

	//http://stackoverflow.com/a/31732902/1813592
	.flex-list {
	    position: relative;
	    margin: 1em;
	    overflow: hidden;
			border-top: 1px solid $subtle-gray;
	}
	.flex-list ul {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    margin-left: -1px;
			padding: 0;
	}
	.flex-list li {
			list-style: none;
	    flex-grow: 1;
	    flex-basis: auto;
	    margin: .25em 0;
	    padding: 0 1em;
	    text-align: center;
	    border-left: 1px solid #ccc;
	    background-color: #fff;
			@media (min-width: $breakpoint-2) {
				font-size: 110%;
			}
	}

	a{
		text-decoration: none;
	}
	a:hover{
		background: $primary-color;
		color: white;
	}


}
