/***************
HEADER STYLING
***************/

.header {
	background-image: url('/assets/img/banner.svg');
	background-color: $banner-grey;
	background-size: cover;
	background-position: center center;
	color: $banner-grey;
	padding: 0;
	height: auto;
	margin-bottom: $padding;

	// Outer navigation wrapper
	.navigation {
		background: $nav-background;
		font-family: $sans-serif;
	}

	// Container with no padding for navbar
	.nav-container {
	  max-width: $navigation-width;
	  margin: 0 auto;
	}
}

/* Remove header image when screen width is too small */
@media (min-width: $breakpoint_2){
	.header {
		min-height: 10em;
		position: relative;
		margin-bottom: $padding;
	}
}

nav {
	height: $nav-height; /* Menu height */
	overflow: hidden; /* Don't show anything outside the nav */
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: $nav-height*2; /* Menu height x 2 */
	position: relative; /* Position the menu button relative to this item */
	.active
	{
			background: $nav-active;
	}
}

nav li {
	display: inline-block;
	padding: 0;
}

nav a {
	display: inline-block;
	padding: 0 1em;
	color: $nav-font-color;
	text-decoration: none;
	white-space: nowrap;
	line-height: $nav-height; /* Menu height */
	height: $nav-height; /* Menu height */
}

nav a:hover {
	color: $nav-font-color;
	background-color: $link-hover-color;
}

nav li:first-child {
	left: 0;
	vertical-align: top;
	font-size: 75%; /* Hide when screen width is too small */
	:hover {
		color: $nav-font-color;
		background-color: $nav-background;
	}
	@media (min-width: $breakpoint_0){
		font-size: 100%;
	}
	@media (min-width: $breakpoint_1){
		font-size: 140%;
	}
}

nav li:last-child { /* The menu button */
	position: absolute; /* Move the menu button out of flow */
	right: 0;
	bottom: $nav-height; /* Move upwards, the same distance as the menu height */
	background-image: linear-gradient(to right, rgba(19, 51, 61, 0) 0, $nav-background 2em);
	padding-left: 3em;
}

nav li:nth-last-child(2) { /* The close button */
	display: none;
}

nav#menu:target {
	height: auto;
	padding: 0;
}

nav#menu:target ul {
	max-height: none;
}

nav#menu:target li {
	display: block;
}

nav#menu:target a {
	display: block;
	background-color: rgba(255, 255, 255, 0.05);
}

nav#menu:target li:not(:first-child) {
	margin-top: 2px;
	a:hover {
		background-color: $link-hover-color;
	}
}

nav#menu:target li:last-child {
	display: none;
}

nav#menu:target li:nth-last-child(2) {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border-left: 2px solid $nav-background;
	background: $nav-background-light;
}
