.header-amp {
	background: $nav-background;
	margin-bottom: $padding;
	padding: $padding;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	a, a:hover {
    color: $white;
    text-decoration: none;
		overflow: visible;
	}
}
