/***************
POST STYLING
***************/
.post {
	img + em, amp-img + em, video + em {
		text-align: center;
		font-size: .9em;
		font-style: italic;
		color: lighten($black, 30%);
		display: block;
	}

	img + p, amp-img + p {
		margin-bottom: 2rem;
	}
}

/***************
POST NAV STYLING
***************/
.postNav {
	border-top: 1px solid darken(white, 10%);
	border-bottom: 1px solid darken(white, 10%);
	overflow: hidden;

	.prev, .next {
		display: block;
		width: 100%;
		height: 5rem;
		overflow: hidden;
		position: relative;
		font-family: $sans-serif;
		font-weight: 800;
		font-size: .9em;
		text-align: center;

		img {
			display: block;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
      -webkit-filter: brightness(40%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
      filter: brightness(40%);
			left: 0;
			width: 100%;
			height: auto;
		}

		span {
			z-index: 1;
			position: relative;
			padding: .5rem;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 100%;
			line-height: 1.4;
		}

		&.image {
			text-decoration: none;
			color: white;
			text-shadow: 1px 1px 8px rgba(0,0,0,.8);
			//padding: 0 .5rem;
			position: relative;
			//@include transition(all 0.2s ease-in-out);
		}

		&:hover {
			&.image {
				opacity: .8;
			}
		}
	}

	.prev {
		span {
			left: 0;
		}
	}

	.next {
		span {
			right: 0;
		}
	}
}

@media (min-width: $breakpoint_1){
	.postNav {

		.prev, .next {
			width: 50%;
		}

		.prev {
			float: left;
			text-align: left;
		}

		.next {
			text-align: right;
			float: right;
		}
	}
}
