/***************
POST STYLING
***************/
article {
	img + em, amp-img + em, video + em {
		text-align: center;
		font-size: .9em;
		font-style: italic;
		color: lighten($black, 30%);
		display: block;
	}

	img + p, amp-img + p {
		margin-bottom: 2em;
	}
}

blockquote {
  background: $blockquote-color;
  border-left: 10px solid $blockquote-border-color;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/***************
POST NAV STYLING
***************/
.post-nav {
	display: flex;
	flex-direction: column;

	.post-nav-link {
		height: $post-nav-link-height;
		margin: .1em;
		overflow: hidden;
		position: relative;

		.link-text {
			z-index: 1;
			position: absolute;
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			padding: .5em;
			font-weight: bold;
			color: white;
		}

		.previous { text-align: left; }
		.next { text-align: right; }

		.link-image {
			position: absolute;
			filter: blur(1px) brightness(40%);
			transition: all 0.35s ease-in-out;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.post-nav-link:hover img { transform: translateY(-50%) scale(1.2); }

	@media all and (min-width: $breakpoint-2) {
		flex-direction: row;

		.post-nav-link {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}
