/***************
POST STYLING
***************/
.post {
	img + em, amp-img + em, video + em {
		text-align: center;
		font-size: .9em;
		font-style: italic;
		color: lighten($black, 30%);
		display: block;
	}

	img + p, amp-img + p {
		margin-bottom: 2rem;
	}
}

blockquote {
  background: #ffa;
  border-left: 10px solid #dc0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/***************
POST NAV STYLING
***************/
.post-nav {
	display: flex;
	flex-direction: column;

	font-weight: bold;

	position: relative;
	:link {
			text-decoration: none;
	}
	.post-link:hover {
  	img {
				filter: blur(1px) brightness(80%);
		}
		.post-link .previous-link, .post-link .next-link {
			background-color:rgba(0,0,0,0.8);
		}
	}
	img {
		position: relative;
		filter: blur(1px) brightness(40%);
		transform: translateY(-50%) scale(1.35);
	}
	.post-link .previous-link, .post-link .next-link {
		padding: .5em;
		z-index: 1;
		color: white;
		text-shadow: 0 1px 0 black;
		position: relative;
	}

	.post-link {
		height: 6em;
		overflow: hidden;
		margin: .1em;
	}

	.previous {
		text-align: left;
	}
	.next {
		text-align: right;
	}

	@media all and (min-width: 600px) {
		flex-direction: row;

		.post-link {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}
