/***************
POST STYLING
***************/
.post {
	img + em, amp-img + em, video + em {
		text-align: center;
		font-size: .9em;
		font-style: italic;
		color: lighten($black, 30%);
		display: block;
	}

	img + p, amp-img + p {
		margin-bottom: 2rem;
	}
}

blockquote {
  background: #ffa;
  border-left: 10px solid #dc0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/***************
POST NAV STYLING
***************/
.post-nav {
	.post-nav-container {
		padding: 5px;
		width: 50%;
	}
	.prev, .next {
		height: 6em;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		position: relative;
		margin-bottom: .1em;
		text-decoration: none;
		color: white;
		font-weight: 800;
		text-shadow: 1px 1px 8px rgba(0,0,0,.8);

		img {
			filter: blur(2px);
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					height: auto;
		}


		span {
			background: rgba(0,0,0,0.6);
			z-index: 1;
			box-sizing: border-box;
			height: 100%;
			width: 100%;
			padding: .5em;
		}
			&:hover {
				&.image {
					opacity: .8;
				}
			}
	}
	.prev {
		span {
			 justify-content: flex-start;
			 text-align: left;
		}
		@media (min-width: $breakpoint-2){
			float: left;
		}
	}
	.next {
		span {
			 justify-content: flex-end;
			 text-align: right;
		}
		@media (min-width: $breakpoint-2){
			float: right;
		}
	}
}
