/***************
BUTTON DEFAULTS
***************/

%btn {
  line-height: 1.2em;
  padding: .5em 1.5em;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
} // end .button

// Outline Button
.button-outline {
  @extend %btn;
  background-color: transparent;
  border: 3px solid $primary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}
