/***************
FORM STYLING
***************/

label {
	display:block;
	margin-bottom:5px;
}
input[type=text],input[type=email], textarea {
	background: darken(white, 10%);
	padding:.5em;
	outline:none;
	border: none;
	margin-bottom: $padding;

	&:focus {
		border: 1px solid $primary-color;
	}

	&.full-width {
		box-sizing : border-box;
		width:100%;
	}
}
textarea {
	height:$line-height*3;
}

form {
	margin-bottom:$padding;

	// Wrap each form input/element in a field div
	.field {
		margin-bottom:$padding;
	}

	// Notes go under the input fields
	.note {
		margin-top:5px;
		color:$dim-grey;
	}

	// Required label
	.req {
		font-style: italic;
	}

	// Validation, add error class to the item div
	.error {

		// Validation reason
		.reason {
			margin-top:5px;
			color:$bad-color;
		}

		input[type=text],input[type=email], textarea{
			border-color:$bad-color;
		}
	}
}
