/***************
HOMEPAGE STYLING
***************/
@media (min-width: 800px){
	#home {
		.posts, .pageTitle, .pagination {
			//@include span(9 of 12);
			width: 100%;
			float: none;
			margin: 0 auto 1.5em;
		}

		.pageTitle {
			margin: 2rem auto 1em;
		}
	}
}
