/***************
TABLE STYLES
***************/

.table-post {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#ccc;
	width: 100%;

	tr {
		border-bottom: 1px solid lighten($dim-grey, 15%);
	}

	td {
		font-size:14px;
		padding:2px 5px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
		border-color:#ccc;
		color:#333;
		background-color:$white;

		&:first-child
		{
			font-weight: bold;
			white-space: nowrap;
		}
	}

	th {
		font-size:14px;
		font-weight:bold;
		padding:2px 5px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
		border-color:#ccc;
		color:#333;
		background-color:#f0f0f0
	}
}
