/***************
PAGE STYLES
***************/

.page-title {
	text-align: left;
	font-size: 200%;
	line-height: 1.2;
	font-weight: normal;
	@media (min-width: $breakpoint-2) {
		font-size: 250%;
	}
	@media (min-width: $breakpoint-3) {
		font-size: 300%;
	}
}

.meta {
	color: $dim-grey;
	font-weight: 300;
	font-size: 120%;
	@media (min-width: $breakpoint-2) {
		font-size: 130%;
	}
	@media (min-width: $breakpoint-3) {
		font-size: 140%;
	}
}

a.meta {
  text-align: center;
  display: block;
}

.title-meta {
	overflow: auto;
	color: $dim-grey;
	font-size: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 .5rem;
  // font-family: $sans-serif;
	font-weight: 600;
}

/***************
LINK STYLING
***************/
a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 15%);
	}
}

/***************
CODE STYLING
***************/
code, pre {
    border-radius: .2em;
    background-color: $code-background;
    border: .1em solid $light-grey;
}

code {
    padding: 2px 4px;
    color: $inline-code;
}

pre {
    padding: $padding;
    overflow-y:hidden;
}

pre code {
    color: inherit;
    background-color: transparent;
    padding: 0;
    border: 0;
}

/***************
TEXT SELECTION STYLING INVALID FOR NOW.
***************/
// ::-moz-selection {
// 	background: $primary-color;
// 	color: white;
// }
//
// ::selection {
// 	background: $primary-color;
// 	color: white;
// }

/***************
ALREADY A DEFAULT BROWSER STYLE
***************/
// p {
//   display: block;
//   margin-top: $padding;
//   margin-bottom: $padding;
// }
