html {
  font-size: 100%;
  line-height: 1.5em;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

NAV {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

P {
  margin: 1.5em 0px;
}

ul {
  margin: 1.5em 0px;
}

ul {
  padding: 0px 0px 0px 40px;
}

nav ul {
  list-style: none none;
}

body {
  font-size: 1em;
  line-height: 1.45;
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1,
h3 {
  margin: 0.5rem 0px 1.5rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Serif', Georgia, Times, serif;
  line-height: 1.75;
  font-size: 112.5%;
  color: rgb(17, 17, 17);
  overflow-x: hidden;
}

body p,
body ul {
  margin: 0px 0px 2rem;
}

.container {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.container::after {
  content: ' ';
  display: block;
  clear: both;
}

a {
  color: rgb(61, 37, 109);
}

.nav-collapse {
  z-index: 1;
}

.nav-collapse ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse ul li {
  width: 100%;
  display: block;
  background-color: rgb(61, 37, 109);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(72, 43, 128);
  background-position: initial initial;
  background-repeat: initial initial;
}

.nav-collapse ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 2rem;
}

.noList {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.pageTitle {
  margin: 2rem auto 1em;
  text-align: center;
}

.content {
  padding-top: 1em;
}

.header {
  background-color: rgb(58, 58, 60);
  background-image: url(/assets/img/banner.jpg);
  background-size: cover;
  color: white;
  padding: 0px;
  height: 3em;
  background-position: 50% 50%;
}

.header .container {
  padding: 0px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header .container::after {
  content: ' ';
  display: block;
  clear: both;
}

.header h1 {
  margin: 0px;
  float: left;
  padding-left: 2rem;
  font-size: 1em;
  line-height: 3em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.header h1 a {
  color: white;
  text-decoration: none;
}

.posts li {
  margin-bottom: 4rem;
  position: relative;
}

.posts li::before {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 0px;
  background-color: rgb(230, 230, 230);
  height: 2px;
  width: 60px;
  background-position: initial initial;
  background-repeat: initial initial;
}

.posts li a {
  text-decoration: none;
}

.posts li .date {
  color: gray;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.posts li h3 {
  margin: 0px 0px 0.5em;
}

@media only screen and (min-width: 800px) {
  .content {
    padding-top: 0px;
    position: relative;
    z-index: 1;
  }

  .content::after {
    z-index: -1;
    background-color: white;
    content: '';
    display: block;
    width: 100%;
    height: 25em;
    position: absolute;
    top: -2em;
    left: 0px;
    -webkit-transform: skewY(-2deg);
    -webkit-transform-origin: 0% 100%;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  .container::after {
    content: ' ';
    display: block;
    clear: both;
  }

  #home .posts,
  #home .pageTitle {
    width: 74.46809%;
    float: none;
    margin: 0px auto 1.5em;
  }

  #home .pageTitle {
    margin: 2rem auto 1em;
  }

  .header {
    height: 15em;
    position: relative;
    padding-bottom: 2em;
  }

  .header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .header .container::after {
    content: ' ';
    display: block;
    clear: both;
  }

  .header h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -3px;
    padding-left: 0px;
  }

  .header nav {
    float: left;
    clear: left;
  }

  .header nav ul {
    margin: 0px;
  }

  .header nav ul li {
    display: inline;
    line-height: 3em;
    background-image: none;
    padding: 0px 5px;
    border: none;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  .header nav ul li a {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0px 0.25em;
  }

  .header nav ul li.current {
    padding-bottom: 0.25em;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.4);
  }
}
