---
layout: default
---

<!--Begin metadata info-->

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{{ page.meta }}" />
{% if page.image %}
<meta property="og:image" content="{{ '/assets/img' | prepend: site.url | append: page.image }}" />
{% endif %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}" />
{% if page.edit %}
<meta property="article:modified_time" content="{{ page.edit | date: '%Y-%m-%d' }}" />
{% endif %}
<meta property="article:author" content="{{ page.author }}" />
<meta property="article:section" content="{{ page.category }}" />
{% for tag in page.metatags %}
<meta property="article:tag" content="{{ tag }}" />
{% endfor %}

<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "description":"{{ page.meta }}",
  "@type":"BlogPosting",
  "headline":"{{ page.title }}",
  "datePublished":"{{ page.date | date_to_xmlschema }}",
  "dateModified": "{% if page.edit %}{{ page.edit | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
  "author": "{{page.author}}",
  "publisher": {
    "@type": "Organization",
    "name": "Kyle Niewiada",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/img/logo.jpg' | prepend: site.url }}",
      "height": 60,
      "width": 227
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ '/assets/img' | prepend: site.url | append: page.image }}",
    "height": 470,
    "width": 800
  },
  "mainEntityOfPage": {
     "@type": "WebPage",
     "@id": "{{ site.url }}{{ page.url }}"
  }

}
</script>

<!--End metadata info-->

<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/assets/img' | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="meta">{{ page.author }}</h3>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }} |<span class="time">{{ page.content | number_of_words | divided_by:120 }}</span> Minute Read | {{ page.tag | capitalize }}</p>

  {{ content }}
  <!-- POST NAVIGATION -->
  <div class="postNav clearfix">
    {% if page.previous.url %}
      <a class="prev{% if page.previous.image %} image{% endif %}" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous.title }}</span>
      {% if page.previous.image %}
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.previous.image }}" alt="">
      {% endif %}
    </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next{% if page.next.image %} image{% endif %}" href="{{ page.next.url | prepend: site.baseurl }}"><span>{{ page.next.title }}&nbsp;&raquo;</span>
      {% if page.next.image %}
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.next.image }}" alt="">
      {% endif %}
      </a>
    {% endif %}
  </div>
</div>
