---
layout: no-title
---

<article>
  <header>
    <h1 class="page-title">{{ page.title }}</h1>

    <h2 class="meta">{{ page.author | default: site.author }} on {{ page.date | date: '%B %d, %Y' }}</h2>

    <h3 class="meta">{{ page.content | number_of_words | divided_by:120 | ceil }} Minute Read | {{ page.tag | capitalize }}</h3>
  </header>

  {% if page.image %}
    <img src="{{ page.image.path }}" alt="{{ page.image.alt }}"/>
  {% endif %}

  <div class="line-separator"></div>

  {{ content }}

  <div class="line-separator"></div>

  {% include post-nav.html %}
</article>
